
/*

Colors:

Yellow = #F3DF8D
Dark Purple = #2F122F
Bright Purple = #842163
Red = #ED1C24
*/


/*
font-family: 'Dosis', sans-serif;
font-family: 'Asap', sans-serif;
*/


* {
margin: 0;
}


html {
  overflow-x: hidden;
  height: 100%;

}

body {
	font-family: 'Asap', sans-serif;
  background-repeat: no-repeat;
  background-image: url("background_purplepaper_web.jpg");
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  /* add back negative margin value*/ 
  background: #2F122F;
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  width: 100%;
  position: fixed;
 } 

header h1 {
  color: #F3DF8D;
	text-align: center; 
  padding: 10px 0px;
  letter-spacing: 2px;
  font-variant: small-caps;
}

/* Navigation Bar */
.nav_links{
	list-style-type: none;
  margin-bottom: 13px;
  text-align: center;
  letter-spacing: .5px;
  font-variant: small-caps;
}

.nav_links li {
	display: inline;
  padding: 10px;
}

/* unvisited link */
.nav_links li a:link {
    color: #F3DF8D;
    text-decoration: none;
}

/* visited link */
.nav_links li a:visited {
    color: #F3DF8D;
    text-decoration: none;
}

/* hover */
.nav_links li a:hover {
    color: #ED1C24;
    text-decoration: none;
}

/* selected link */
.nav_links li a:active {
    color: #842163;
    text-decoration: none;
}

#linkdin a {
  color: #842163;
}

#twitter a {
  color: #842163;
}


/* Social Media Links In Nav */

/* social_links 

.social_links {
	list-style-type: none;
}

.social_links li {
	display: inline;
	color: #842163;
	text-decoration: none;
}

.social_links li a:link {
    color: #842163;
    text-decoration: none;
}

/* visited link 
.social_links li a:visited {
    color: #842163;
    text-decoration: none;
}

/* hover 
.social_links li a:hover {
    color: #ED1C24;
    text-decoration: none;
}

/* selected link 
.social_links li a:active {
    color: #842163;
    text-decoration: none;
} */


/* Wrapper */

.wrapper {
min-height: 100%;
/*height: auto !important;*/
margin: 0 auto -4em;
}

/* Container and Content_Main on Landing Page */

.container {
  width: 70%;
  margin: 0 auto;
  /*background-color: #F3DF8D;*/
  margin-top:200px;
  /*position: relative;*/
}

#square {
  width: 25px;
  height: 25px;
  background: #ED1C24;
  margin-top: 10px;
  margin-left: 20px;  
  position: absolute;
}

.container p {
  color: #2F122F ;
  font-size: 28px;
  text-align: center;
  padding: 20px;
}

/* Button */

.button-house {
  float: right;
  margin-top: 5%;
  margin-right: 39%;
}
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  /*width: 200px;
  border-radius: 20px;*/
  font-family: 'Asap';
  color: #2F122F;
  font-size: 20px;
  background: #842163;
  padding: 10px 15px 10px 15px;
  border: solid #ED1C24 1px;
  text-decoration: none;
  font-variant: small-caps;
}

.btn a:link {
	color: #2F122F;
    text-decoration: none;
}

/* visited link */
.btn a:visited {
	color: #2F122F;
    text-decoration: none;
}

/* hover */
.btn a:hover {
	color: #2F122F;
	background: #2F122F;
	text-decoration: none;
}

/* selected link */
.btn a:active {
	color: #2F122F;
	text-decoration: none;
}

/*container_about*/

.container_about {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  width: 60%;
}


/* content_about */

.content_about {
  background-color: #FFF8DB;
  /*opacity: 0.8;*/
  padding: 20px;
    }

.content_about h2 {
  text-align: center;
  color: #2F122F;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bolder;
  /*font-variant: small-caps;*/
}   

.content_about h3 {
  text-align: center;
  color: #2F122F;
  margin-bottom: 10px;
}

.content_about p {
  color: #2F122F;
  line-height: 150%;
} 

/* RESUME PAGE */

.content_about h4 {
   color: #2F122F;
}


/*Footer */

footer {
  bottom:0;left:0;right:0;height:4em;
  background-color: #310E31;
}

footer p {
	float: right;
	color: #F3DF8D;
	margin-right: 35px;
  margin-top: 23px;
}